<header class="site-header">
  <a href="{{ site.baseurl }}/" class="logo"><span class="logo"><amp-img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" /></span></a>

  <div class="page-links" itemscope itemtype="http://schema.org/SiteNavigationElement" >
    <a class="page-link" href="{{ site.baseurl }}/" itemprop="url" ><span itemprop="name">Home</span></a>
    • <a class="page-link" href="{{ site.baseurl }}/blog" itemprop="url" ><span itemprop="name">Blog</span></a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}" itemprop="url"><span itemprop="name">{{ my_page.title }}</span></a>
      {% endif %}
    {% endfor %}
  </div>
</header>
