<!DOCTYPE html>
<html ⚡ lang="site.lang">
  {% include head.html styles='home.scss' %}
  <body>
    {% include header.html %}

    <main class="content" role="main">

      <header class="blog-header">
        <h1 class="blog-title" itemprop="name">{{ site.title }}</h1>
        <h2 class="blog-description" itemprop="description">{{ site.description }}</h2>
      </header>

      {% if page.amp-youtube and page.videoid%}
      <amp-youtube data-videoid="{{ page.videoid }}" autoplay data-param-loop=1 data-param-playlist={{ page.videoid }}
                   data-param-rel=0 data-param-controls=0 data-param-showinfo=0
                   layout="responsive" width="480" height="270"></amp-youtube>
      {% endif%}

      <div class="cf frame">
        <div class="row">
          <div class="index-content">
            {{content}}
          </div>
          {% include form.html %}
        </div>

        <section class="testimonials" id="testimonials" itemscope itemtype="http://schema.org/ItemList">
          {% for post in site.testimonials %}
          <article class="post" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" role="article">
            <div class="article-item">
              <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
              </header>
              <section class="post-excerpt" itemprop="description">
                <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
              </section>
              <div class="post-meta">
            <span>
              {% if post.github %}
                {% include icon-github.html username=post.github %}
              {% endif %}
            </span>
                <meta itemprop="position" content="{{ forloop.index }}" />
              </div>
            </div>
          </article>
          {% endfor %}
        </section>
      </div>
    </main>

    {% include footer.html %}

    {% if site.analytics_id%}
        {% include analytics.html %}
    {% endif %}
  </body>
</html>
