---
layout: default
amp-iframe: true
---

<main class="content" role="main">

  <header class="blog-header">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  {% if page.amp-youtube and page.videoid%}
  <amp-youtube data-videoid="{{ page.videoid }}" layout="responsive" width="480" height="270"></amp-youtube>
  {% endif%}

  <div class="cf frame">
    <div class="row">
      <div class="index-content">
        {{content}}
      </div>

      <amp-iframe width="auto" height="918"
                  sandbox="allow-scripts allow-same-origin allow-forms"
                  layout="fixed-height"
                  frameborder="0"
                  src="https://eepurl.com/c8EbXb">
        <amp-img placeholder width="600" height="300" layout="responsive" src="/assets/images/logo.jpg"></amp-img>
      </amp-iframe>
    </div>

    <div class="testimonials">
      {% for post in site.testimonials %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
            <span>
                {% if post.github %}
                  {% include icon-github.html username=post.github %}
                {% endif %}
              </span>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>

</main>

{% include footer.html %}
